#search
{
	position: relative;
	margin-left: 25%;
	margin-top: 3%;
}
#btns
{
	position: relative;
	margin-left: 10%;
	margin-top: 0%;
}

#regInfo
{
	position: relative;
	margin-left: 10%;
	margin-top: 5%;
}
.oriUrl
{
	color: #FF0000;
	text-decoration: underline;
}
.colUrl
{
	color: #00FF00;
	text-decoration: none;
}
#headAfterLogin
{
	position: absolute;
	right: 0;
}
#header
{
	position: absolute;
	left: 0;
}
#input
{
	position: relative;
	margin: 10% 50px 0 10%;
}
#btnLog
{
	position: relative;
	margin-left: 10% ;
}

